<% if(id) { %>
    <%- include('../partials/userLoggedinHeader') %>
    <% }else { %>
    <%- include('../partials/userHeader') %>
    <% } %>
   
  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(cartProducts.totalPrice){%>
                            <% for(let key of cartProducts.item) {%>
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex" style="width: 15rem;">
                                        <img class="img-fluid" src="/admin/multer/img/<%= key.productId.image[0] %>" alt="" style="width: 100%" >
                                    </div>
                                    <div class="media-body">
                                        <p><h2><%= key.productId.name %></h2></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>₹<%= key.productId.price %></h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="hidden" value="<%= key.productId._id%>">
                                    
                                    <input type="number" name="qty"  class="input-text qty" value="<%= key.qty %>" min="1" max="<%= key.productId.quantity %>" step="1" data-decimals="0" required style="height:max-content">
                                    
                                        
                                    
                                </div>
                                
                           
                            <td>
                                <h5>₹ <%= key.qty*key.productId.price %></h5>
                            </td>
                            <td class=""><a href="/deleteCart?id=<%= key.productId._id %>"><i class="fa fa-close" style="font-size:24px;color:#ffba00"></i></a></td>

                        </tr>
                        <% } %>
                       
                        <tr class="bottom_button">
                            <td>
                              
                            </td>
                            <td>

                            </td>
                            <td>

                                <td>
                                    <h5><h5>Subtotal</h5></h5>
                                </td>
                                <td>
                                    <h5 id="totalCart"> <% if(id){ %>
                                        ₹ <%= cartProducts.totalPrice %>
                                        <% } %></h5>
                                </td>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                
                                <div class="checkout_btn_inner d-flex align-items-center" style="width: 20rem;">
                                    <a class="gray_btn" href=""></a>
                                    <a class="primary-btn" href="/checkout" style="width: 100%;">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                       
                      

                        
                    <% }else{ %>
                        <h4>Your Cart is Empty !!<br></h4>
                        <a href="/shop" class="btn btn-primary ml-2">Shop</a>

                        <% } %>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>

    const qty = document.querySelectorAll('.qty')		   
  const qtyHandler = async(e)=>{
  try {
  const productId = e.target.parentElement.children[0].value
  const data = {qty:e.target.value}
  console.log(data);
    const response = await fetch(`/editCart?id=${productId}`,{
   method:'post',
   headers:{'Content-Type':'application/json'},
    body:JSON.stringify(data)
    })
    const value = await response.json()
  
   document.querySelector('#totalCart').innerText = value.totalPrice
    // document.querySelector('#tottaloff').innerText = value.totalPrice
   e.target.parentElement.parentElement.nextElementSibling.innerText = value.price * e.target.value
  } catch (error) {
  console.log(error.message);
  }
  }
  qty.forEach(q =>{
  q.addEventListener('change',qtyHandler)
  })
  
  
   </script>

<!--================End Cart Area =================-->



<%- include ('../partials/userFooter.ejs') %>